/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.setting-button {
	-fx-background-image: url('./icon/setting.png');
	-fx-background-size: 70px 69px;
	-fx-background-repeat: no-repeat;
    -fx-background-position: center1;
}

.pause-button {
	-fx-background-image :url('./icon/')
}